{% extends "bar.html" %}

{% block body %}
<!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">資識拼圖</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">A Knowledge Audit System!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">系統說明</a>
        </div>
      </div>
    </div>
  </header>


<!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">HOW?</h2>
      <hr class="divider my-4">
      <div class="row">

        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">職業列表</h3>
            <p class="text-muted mb-0">資管系相關職業所需能力個性</p>
          </div>

        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">知識盤點</h3>
            <p class="text-muted mb-0">盤點與紀錄個人相關知識</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">新增職能</h3>
            <p class="text-muted mb-0">專家老師身分為職業新增相關職能</p>
          </div>

        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">未來規劃</h3>
            <p class="text-muted mb-0">依知識缺口進行未來規畫安排</p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}


