{% extends "bar_fixed.html" %}

{% block body %}
<header class="fixhead">

  <!-- Page Content -->
  <section class="page-section">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">職能探索</h5>
            <hr>
            <p class="card-text"><a href="https://www.onetonline.org/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  O*NET OnLine</p>
            <p class="card-text"><a href="https://event.1111.com.tw/careermaster/list" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  1111職務大辭典</p>
            <p class="card-text"><a href="https://www.ipas.org.tw/index.aspx" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  經濟部-產業人力能力鑑定堆動網</p>
            <p class="card-text"><a href="https://www.mol.gov.tw/statistics/2475/19284/19285/?PageSize=50" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  勞動部-職業指南</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">學習資源</h5>
            <hr>
            <p class="card-text"><a href="https://www.udemy.com/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  Udemy</p>
            <p class="card-text"><a href="https://hahow.in/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  hahow好學校</p>
            <p class="card-text"><a href="https://train.csie.ntu.edu.tw/train/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  台灣大學資訊系統訓練班</p>
            <p class="card-text"><a href="https://www.yottau.com.tw/home/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  YOTTA</p>
            <p class="card-text"><a href="https://leetcode.com/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a> LeetCode</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">性向測驗</h5>
            <hr>
            <p class="card-text"><a href="https://www.hollandexam.com/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  Holland興趣測驗</p>
            <p class="card-text"><a href="https://assessment.1111.com.tw/cstar/" target="_blank" class="fas fa-link" style="color: #F4623A; border:none"></a>  九大職能星</p>
        </div>
      </div>
    </div>
  </div>
  </section>


</header>
{% endblock %}
