{% extends "bar_fixed.html" %}

{% block body %}

<section class="page-section">
<div class="container">
<div class="row">
		<div class="col-sm-3">
            <ul class="nav flex-column nav-tabs ">
				<li class="nav-item">
					<a class="nav-link  text-center" href="/memberInfo/">個人檔案</a>
				</li>
				<li class="nav-item">
					<a class="nav-link  text-center" href="/myAudit/">知識盤點</a>
				</li>
                <li class="nav-item">
					<a class="nav-link  text-center" href="/myCareer/">我的收藏</a>
				</li>
                <li class="nav-item">
					<a class="nav-link  text-center" href="/myPlan_skill/">未來規劃</a>
				</li>
			</ul>
        </div>

<div class="col-sm-9">
        {% block content %} {% endblock %}
</div>



</div>
</div>
</section>
{% endblock %}
