{% extends "bar.html" %}

{% block body %}
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <li class="card-body">
            <h5 class="card-title text-center">Register</h5>


            <form action="/register/" method="post" class="form-signin">
                  {% csrf_token %}
              <div class="form-label-group">
                  {{ member_form.userid }}
              </div>
                <br>
              <div class="form-label-group">
                  {{ member_form.email }}
              </div>
                <br>
              <div class="form-label-group">
                  {{ member_form.password }}
              </div>
                <br>
              <div class="form-label-group">
                  {{ member_form.password2 }}
              </div>
                </br>

                {#          錯誤訊息#}

                {% if messages %}
                    <script>
                        {% for msg in messages %}
                            alert('{{ msg.message }}', '{{ field }}');
                        {% endfor %}
                    </script>
                {% endif %}

              </br>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
{#              <hr class="my-4">#}
{#              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>#}
{#              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>#}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


      </div>
    </div>
  </header>
{% endblock %}
